{
  "extends": [
    "airbnb",
    "prettier"
  ],
  "plugins": [
    "react-hooks"
  ],
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/jsx-props-no-spreading":"off",
    "import/no-extraneous-dependencies":"off"
  }
}
